
####  Project specific exclusions
node_modules
node_modules.tgz
gemfire.tgz
bin
*.gfs
.history/*


####  Standard excludes

*~
#*
*#
.#*
*.log
git.properties

# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/

# Gradle
/build/
/bin/
.gradle

.springBeans

# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
